{{ attach_library('css/islandora_fits') }}


<h1>{{ title }}</h1>
<p>{{ link }}</p>

<div>
    {% for entry in output %}
        <h2> {{ entry.title }} </h2>
        <div>{{ entry.data }}</div>
    {% endfor %}

</div>
